.footer {
    padding-top: 180px;
    overflow: hidden;
    position: relative;
    top: 100px;
    /* background: #1f0644;*/
    background-image: url("footerbg.jpg");
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
}

@media (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }
}


.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}



.footer .social-links ul li a {
    display: inline-block;
    width: 35px;
    height: 35px;
    line-height: 35px;
   
    
    margin: 0px 5px;
}



.footer .flogo {
    text-align: center;
    display: block; 
    font-size: 32px;
}
.footer.h4{
    font-size: 555px;
}


.footer .social-links {
    display: block;
    text-align: center;
    margin-top: 30px;
}

ul {
    padding: 0;
    margin: 0;
}
.footer .social-links ul li {
    display: inline-block;
    
}



a {
    color: #FFF;
    text-decoration: none;
}

a i {
    padding: 0 2px;
    margin-top: 10px;
}






.footer .copy-bg {
    padding: 22px 15px 10px;
    text-align: center;
border-radius: 60px;
    
    
}

.footer .copy-bg .pp {
    display: inline-block;
    font-size: 14px;
    line-height: 48px;
    width: 100%;
    border-radius: 60px;
    color: black;
    background-color: #FFF;
    font-weight: 600;
}

@media (max-width: 767px){ .footer .footer-menu ul li {
    margin-right: 20px;
}

}

